@using System.Collections.Generic
@using System.Linq
@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Http.Authentication
@model LoginViewModel
@inject SignInManager<ApplicationUser> SignInManager

@{
    ViewData["Title"] = "Login";
}

<h1>@ViewData["Title"]</h1>

<h3 class="description">Use as suas credenciais para efetuar o login.</h3>

<div class="row">
    <div class="col-md-4">
        <section>
            <form asp-route-returnurl="@ViewData["ReturnUrl"]" method="post">
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Email"></label>  <div class="tooltip">(?)<span class="tooltiptext">@ViewData["EmailTip"]</span></div>
                    <input asp-for="Email" class="form-control" id="Email"/>
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Password"></label>  <div class="tooltip">(?)<span class="tooltiptext">@ViewData["PasswordTip"]</span></div>
                    <input asp-for="Password" class="form-control" id="Password"/>
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <div class="checkbox">
                        <label asp-for="RememberMe">
                            <input asp-for="RememberMe" />
                            @Html.DisplayNameFor(m => m.RememberMe)
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-default" id="Submit">Login</button>
                </div>
                <div class="form-group">
                    <p>
                        <a asp-action="ForgotPassword">Esqueceu-se da password?</a>
                    </p>
                    <p>
                        <a asp-action="Register" asp-route-returnurl="@ViewData["ReturnUrl"]">Registar novo utilizador?</a>
                    </p>
                </div>
            </form>
        </section>
    </div>
</div>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
