@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - CIMOB Online: Plataforma de Apoio à Mobilidade</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <!-- We need to get a proper workaround-->
    <!--<environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>-->
</head>
<body>
    <nav class="navbar navbar-fixed-top">
        <div class="header-container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>

            <div class="navbar-left">
                @await Html.PartialAsync("_SearchBar")
            </div>
            <div class="navbar-collapse collapse">           
                @await Html.PartialAsync("_LoginPartial")
            </div>
        </div>
    </nav>


    <header>
        <div class="banner">
            <div class="ipslogo"></div>
            <div class="title">
                <h1>CIMOB ONLINE</h1>
                <h2>Plataforma de Apoio à Mobilidade</h2>
            </div>
        </div>
        <div class="menu-container">
            <ul class="menubar">
                <li><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
                <li><a asp-area="" asp-controller="News" asp-action="Index">Publicações</a></li>
                @if (User.IsInRole("Employee"))
                {
                    <li><a asp-area="" asp-controller="Applications" asp-action="Index" asp-route-employeeId = "@UserManager.GetUserId(User)">Candidaturas</a></li>
                }
                else if (User.IsInRole("Student"))
                {
                    <li><a asp-area="" asp-controller="Applications" asp-action="Create" asp-route-userId="@UserManager.GetUserId(User)">Candidatura</a></li>
                }
                else
                {
                    <li><a asp-area="" asp-controller="Home" asp-action="Application">Candidatura</a></li>
                }
                <li><a asp-area="" asp-controller="Home" asp-action="Contact">Contactos</a></li>
            </ul>
        </div>
        
        <ul class="breadcrumb">
            @await Html.PartialAsync("_Breadcrumbs")
        </ul>            
    </header>


    <div class="container body-content">
        @RenderBody()    
    </div>
    <footer>
        <div class="socialmedia">
            <ul class="logos">
                <li></li>
                <li></li>
                <li><a href="https://www.facebook.com/ipsetubal"><img src="~/images/Facebook logo.png" /></a></li>
                <li><a href="https://www.linkedin.com/school/985921/"><img src="~/images/linkedin logo.png" /></a></li>
                <li><a href="https://twitter.com/IPSsetubal"><img src="~/images/Twitter logo.png" /></a></li>
                <li><a href="https://www.youtube.com/user/IPSETUBAL"><img src="~/images/Youtube logo.png" /></a></li>
            </ul>
        </div>
        <div class="bottom-content">            
            <div class="footer-contacts">
                <p><strong>Tel:</strong> + 351 265 790 159</p>
                <p><strong>E-mail:</strong> <a href="mailto:cimob@ips.pt">cimob@ips.pt</a></p>
            </div>
        </div>
    </footer>
    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-K+ctZQ+LL8q6tP7I94W+qzQsfRV2a+AfHIi9k8z8l9ggpc8X+Ytst4yBo/hH+8Fk">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
        </script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>

    @RenderSection("Scripts", required: false)
</body>
</html>
