@model CIMOBProject.Models.Quizz

@{
    ViewData["Title"] = "Details";
}

<h1>Questionários</h1>
<div>
    <label>@Html.DisplayNameFor(model => model.Year):&nbsp;</label>@Html.DisplayFor(model => model.Year)
    <br />
    <label>@Html.DisplayNameFor(model => model.Semester):&nbsp;</label>@Html.DisplayFor(model => model.Semester)
    <br />
    <label>@Html.DisplayNameFor(model => model.QuizzUrl):&nbsp;</label><a href="@Html.DisplayFor(model => model.QuizzUrl)">@Html.DisplayFor(model => model.QuizzUrl)</a>
    <br />      
</div>
<br />
<div>
    <a asp-action="Index">Voltar Atrás</a>
</div>
