@model CIMOBProject.Models.News

@{
    ViewData["Title"] = "Eliminar Publicação";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Eliminar Publicação</h1>
<h3 class="description">Tem a certeza que pretende eliminar esta Publicação?</h3>
<div>
    <h4>Informação de Publicação</h4>
    <label>@Html.DisplayNameFor(model => model.Title):&nbsp;</label>@Html.DisplayFor(model => model.Title)
    <br />
    <label>@Html.DisplayNameFor(model => model.TextContent):&nbsp;</label>@Html.DisplayFor(model => model.TextContent)
    <br />
    <label>@Html.DisplayNameFor(model => model.IsPublished):&nbsp;</label>@Html.DisplayFor(model => model.IsPublished)
    <br />
    <label>@Html.DisplayNameFor(model => model.Document):&nbsp;</label>@Html.DisplayFor(model => model.Document.FileUrl)
    <br />
    <label>@Html.DisplayNameFor(model => model.Employee):&nbsp;</label>@Html.DisplayFor(model => model.Employee.UserFullname)
</div>
<hr />
<div>
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Eliminar" class="btn btn-default" />
        <a class="btn btn-default" asp-controller="News" asp-action="Index">Voltar Atrás</a>
    </form>
</div>
