@model IEnumerable<CIMOBProject.Models.News>

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Publicações</h1>
<h3 class="description">Aqui encontra todas as notícias referentes aos processos de mobilidade.</h3>
<a class="btn btn-default" asp-controller="News" asp-action="Index">Publicações</a>
<a class="btn btn-default" asp-controller="Testemonies" asp-action="Index">Testemunhos de Mobilidade</a>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title) da Publicação
            </th>
        @if (SignInManager.IsSignedIn(User) && User.IsInRole("Employee"))
        {
            <th>
                Publicado
            </th>
        }
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @if (item.GetType() == typeof(Edital))
                {
                    <a asp-action="Details" asp-controller="Editals" asp-route-id="@item.Id"> @Html.DisplayFor(modelItem => item.Title)</a>
                }
                else
                {
                    <a asp-action="Details" asp-route-id="@item.Id"> @Html.DisplayFor(modelItem => item.Title)</a>
                }
                
            </td>
@if (SignInManager.IsSignedIn(User) && User.IsInRole("Employee"))
{
                @if (item.IsPublished == true)
                {
                    <td>Sim</td>
                }
                else
                {
                    <td>Não</td>
                }
            <td align="center">
                @if (item.IsPublished == false)
                {
                    <a class="btn btn-default" asp-action="Publish" asp-controller="News" asp-route-id="@item.Id" id="Publish">Publicar</a>
                }
                @if (item.GetType() == typeof(Edital))
                {
                    <a class="btn btn-default" asp-action="Edit" asp-controller="Editals" asp-route-id="@item.Id">Editar</a>

                    <a class="btn btn-default" asp-action="Delete" asp-controller="News" asp-route-id="@item.Id">Eliminar</a>
                }
                else
                {
                    <a class="btn btn-default" asp-action="Edit" asp-route-id="@item.Id">Editar</a>
                    <a class="btn btn-default" asp-action="Delete" asp-route-id="@item.Id">Eliminar</a>
                }
            </td>
}
        </tr>
}
    </tbody>
</table>

@if (SignInManager.IsSignedIn(User) && User.IsInRole("Employee"))
{
    <div>
        <a class="btn btn-default" asp-area="" asp-controller="News" asp-action="Create" asp-route-userId="@UserManager.GetUserId(User)" id="CreateNews">Nova Publicação</a>
        <a class="btn btn-default" asp-area="" asp-controller="Editals" asp-action="Create" asp-route-userId="@UserManager.GetUserId(User)" id="CreateEdital">Novo Edital</a>
    </div>
}

