@model IEnumerable<CIMOBProject.Models.News>

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@{
    ViewData["Title"] = "Publicações";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Publicações</h1>
<h3 class="description">Aqui encontra todas as notícias referentes aos processos de mobilidade.</h3>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title) da Publicação
            </th>
            @if (SignInManager.IsSignedIn(User) && User.IsInRole("Employee"))
            {
                <th>
                    Publicado
                </th>
            }
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <h4>@Html.DisplayFor(modelItem => item.Title)</h4>
                </td>

                @if (SignInManager.IsSignedIn(User) && User.IsInRole("Employee"))
                {
                    @if (item.IsPublished == true)
                    {
                        <td><img src="~/images/check.png" /></td>
                    }
                    else
                    {
                        <td><img src="~/images/cross.png" /></td>
                    }
                }
                <td align="center">
                    @if (SignInManager.IsSignedIn(User) && User.IsInRole("Employee"))
                    {
                        @if (item.IsPublished == false)
                        {
                            <a class="icon-hover" asp-action="Publish" asp-controller="News" asp-route-id="@item.Id" id="Publish"><img src="~/images/publish.png" /></a>
                        }
                        @if (item.GetType() == typeof(Edital))
                        {
                            <a class="icon-hover" asp-action="Edit" asp-controller="Editals" asp-route-id="@item.Id"><img src="~/images/Edit.png" /></a>

                        }
                        else
                        {
                            <a class="icon-hover" asp-action="Edit" asp-route-id="@item.Id"><img src="~/images/Edit.png" /></a>
                        }
                    }
                    @if (item.GetType() == typeof(Edital))
                    {
                        <a class="icon-hover" asp-action="Details" asp-controller="Editals" asp-route-id="@item.Id"><img src="~/images/details.png" /></a>
                    }
                    else
                    {
                        <a class="icon-hover" asp-action="Details" asp-route-id="@item.Id"><img src="~/images/details.png" /></a>
                    }

                </td>                
            </tr>
        }
    </tbody>
</table>
<hr />
<div>
    @if (SignInManager.IsSignedIn(User) && User.IsInRole("Employee"))
    {
        <a class="btn btn-default" asp-area="" asp-controller="News" asp-action="Create" asp-route-userId="@UserManager.GetUserId(User)" id="CreateNews">Nova Publicação</a>
        <a class="btn btn-default" asp-area="" asp-controller="Editals" asp-action="Create" asp-route-userId="@UserManager.GetUserId(User)" id="CreateEdital">Novo Edital</a>
    }
</div>


