@model IEnumerable<CIMOBProject.Models.TroubleTicket>
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@{
    ViewData["Title"] = "_IndexPartial";
}

<h4>Trouble Tickets Abertos</h4>
@{ 
    ViewData["OpenTTs"] = Model.Where(t => t.Solved == false);
    ViewData["ClosedTTs"] = Model.Where(t => t.Solved == true);
    IEnumerable<Student> students = ViewData["Students"] as IEnumerable<Student>;
}
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                Remetente
            </th>
            <th>
                Destinatário
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreationDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (TroubleTicket item in ViewBag.OpenTTs)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ApplicationUser.UserFullname)
                </td>
                @if (item.StudentNumber != null)
                {
                    <td>
                        @students.Where(s => s.StudentNumber == item.StudentNumber).SingleOrDefault().UserFullname
                    </td>
                }
                else 
                {
                    <td>
                        Suporte CIMOB
                    </td>
                }
                <td>
                    @Html.DisplayFor(modelItem => item.CreationDate)
                </td>
                <td>
                    @if (!item.Solved && User.IsInRole("Employee"))
                    {
                        <a class="icon-hover" asp-action="CloseTicket" asp-route-troubleTicketId="@item.TroubleTicketId" asp-route-applicationUserId="@UserManager.GetUserId(User)"><img src="~/images/TTClose.png" /></a>
                    }
                    <a class="icon-hover" asp-action="Details" asp-route-id="@item.TroubleTicketId"><img src="~/images/details.png" /></a>
                </td>
            </tr>
        }
    </tbody>
</table>
<hr />
<h4>Trouble Tickets Fechados</h4>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                Remetente
            </th>
            <th>
                Destinatário
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreationDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (TroubleTicket item in ViewBag.ClosedTTs)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ApplicationUser.UserFullname)
                </td>
                @if (item.StudentNumber != null)
                {
                    <td>
                        @students.Where(s => s.StudentNumber == item.StudentNumber).SingleOrDefault().UserFullname
                    </td>
                }
                else
                {
                    <td>
                        Suporte CIMOB
                    </td>
                }
                <td>
                    @Html.DisplayFor(modelItem => item.CreationDate)
                </td>
                <td>
                    <a class="icon-hover" asp-action="Details" asp-route-id="@item.TroubleTicketId"><img src="~/images/details.png" /></a>
                </td>
            </tr>
        }
    </tbody>
</table>
