@model CIMOBProject.Models.TroubleTicket
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>@Html.DisplayFor(model => model.Title)</h1>

<div class="trouble-ticket-answer-origin">
    @Html.DisplayFor(model => model.Description)
    <br />
    <br />
    <label>Enviado por:&nbsp;</label>@Html.DisplayFor(model => model.ApplicationUser.UserFullname)
    <br />
    <label>@Html.DisplayNameFor(model => model.CreationDate):&nbsp;</label>@Html.DisplayFor(model => model.CreationDate)
</div>
<br />
@if (ViewBag.AnswersList != null)
{
    <h4>Respostas</h4>
    @foreach (TroubleTicketAnswer item in ViewBag.AnswersList)
    {
        <div class="@("trouble-ticket-answer-" + (item.ApplicationUserId == Model.ApplicationUserId ? "origin" : "response"))">
            @Html.DisplayFor(modelItem => item.Content)
            <br />
            <br />
            <label>Repondido por:&nbsp;</label>@Html.DisplayFor(modelItem => item.ApplicationUser.UserFullname)
            <br />
            <label>Anexo:&nbsp;</label><a href="@Html.DisplayFor(modelItem => item.Document.FileUrl)">@Html.DisplayFor(modelItem => item.Document.FileUrl)</a>
            <br />
            <label>@Html.DisplayNameFor(model => model.CreationDate):&nbsp;</label>@Html.DisplayFor(modelItem => item.CreationDate)
        </div>
        <br />
    }
}
<br />
<div>
    @if (!Model.Solved && User.IsInRole("Employee"))
    {
        <a class="btn btn-default" asp-action="CloseTicket" asp-route-troubleTicketId="@Model.TroubleTicketId" asp-route-applicationUserId="@UserManager.GetUserId(User)">Fechar Ticket</a>
    }
    else
    {
        if (Model.Solved)
        {
            <h4>Ticket Fechado</h4>
        }
    }
    @if (!Model.Solved)
    {
        <a class="btn btn-default" asp-action="Create" asp-controller="TroubleTicketAnswers" asp-route-troubleTicketId="@Model.TroubleTicketId" asp-route-applicationUserId="@UserManager.GetUserId(User)">Nova Resposta</a>
    }
    <a asp-action="Index" asp-route-userId="@UserManager.GetUserId(User)" class="btn btn-default">Voltar Atrás</a>
</div>
