@model CIMOBProject.Models.Student
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@{
    ViewData["Title"] = "Details";
}

<h2>Estudante @Html.DisplayFor(model => model.UserFullname)</h2>

<div>
    <h3>Infomação Básica</h3><br/>
    <label>@Html.DisplayNameFor(model => model.UserFullname):&nbsp;</label>@Html.DisplayFor(model => model.UserFullname)
    <br/>
    <label>@Html.DisplayNameFor(model => model.Email):&nbsp;</label>@Html.DisplayFor(model => model.Email)
    <br />
    <label>@Html.DisplayNameFor(model => model.BirthDate):&nbsp;</label>@Html.DisplayFor(model => model.BirthDate)
    <br />
    <label>@Html.DisplayNameFor(model => model.UserAddress):&nbsp;</label>@Html.DisplayFor(model => model.UserAddress)
    <br />
    <label>@Html.DisplayNameFor(model => model.PostalCode):&nbsp;</label>@Html.DisplayFor(model => model.PostalCode)
    <br />
    <label>@Html.DisplayNameFor(model => model.PhoneNumber):&nbsp;</label>@Html.DisplayFor(model => model.PhoneNumber)
    <br />
    <label>@Html.DisplayNameFor(model => model.UserCc):&nbsp;</label>@Html.DisplayFor(model => model.UserCc)
    <br />
    <label>@Html.DisplayNameFor(model => model.CollegeSubject.College.CollegeName):&nbsp;</label>@Html.DisplayFor(model => model.CollegeSubject.College.CollegeName)
    <br />
    <label>@Html.DisplayNameFor(model => model.StudentNumber):&nbsp;</label>@Html.DisplayFor(model => model.StudentNumber)
    <br />
    <label>@Html.DisplayNameFor(model => model.ALOGrade):&nbsp;</label>@Html.DisplayFor(model => model.ALOGrade)
</div>
<br />
<button><a asp-action="Edit" asp-controller="Students" asp-route-id=@UserManager.GetUserId(User)>Editar Perfil</a></button>
<button><a asp-action="ChangePassword" asp-controller="Manage">Mudar Password</a></button>

