@model IEnumerable<CIMOBProject.Models.Student>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Resultados de pesquisa</title>
</head>
<body>
    <h1>Resultados da Pesquisa</h1>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.StudentNumber)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.UserFullname)
                </th>
                <th>
                    Perfil
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model) {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.StudentNumber)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.UserFullname)
                    </td>
                    <td>
                        <input type="button" class="btn btn-default" value="Ver Perfil" onclick="location.href='@Url.Action("Details", "Students", new {id = item.Id})'" />
                    </td>
                </tr>
            }
        </tbody>
    </table>
</body>
</html>
