@model CIMOBProject.Models.Testemony

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Eliminar Testemunho</h1>
<h3 class="description">Tem a certeza que pretende eliminar este testemunho?</h3>
<div>
    <h4>Informação de Publicação</h4>
    <label>@Html.DisplayNameFor(model => model.Title):&nbsp;</label>@Html.DisplayFor(model => model.Title)
    <br />
    <label>@Html.DisplayNameFor(model => model.Content):&nbsp;</label>@Html.DisplayFor(model => model.Content)
    <br />
    <label>@Html.DisplayNameFor(model => model.ApplicationUser.UserFullname):&nbsp;</label>@Html.DisplayFor(model => model.ApplicationUser.UserFullname)
</div>
<br />
<div>
    <form asp-action="Delete">
        <input type="hidden" asp-for="TestemonyId" />
        <input type="submit" value="Delete" class="btn btn-default" />
        <a asp-action="Index" class="btn btn-default">Voltar Atrás</a>
    </form>
</div>
