@model IEnumerable<CIMOBProject.Models.Testemony>
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Testemunhos</h1>
<h3 class="description">Aqui encontra os testemunhos das diversas mobilidades.</h3>
<a class="btn btn-default" asp-controller="News" asp-action="Index">Publicações</a>
<a class="btn btn-default" asp-controller="Testemonies" asp-action="Index">Testemunhos de Mobilidade</a>
@if (User.IsInRole("Student"))
{
    <a class="btn btn-default" asp-action="Create" asp-route-userId ="@UserManager.GetUserId(User)">Novo Testemunho</a>
}

@foreach (var item in Model)
{
    if ((User.IsInRole("Student") && item.Valid) || User.IsInRole("Employee"))
    {
        <h4>@Html.DisplayFor(modelItem => item.Title)</h4>

        <h5>@Html.DisplayNameFor(modelItem => item.Content)</h5>
        @Html.DisplayFor(modelItem => item.Content)

        <h5>@Html.DisplayNameFor(modelItem => item.CreationDate)</h5>

        <p>Criado por:</p>
        @Html.DisplayFor(modelItem => item.ApplicationUser.UserFullname)
        if (User.IsInRole("Employee") && !item.Valid)
        {
            <br/>
            <a class="btn btn-default" asp-controller="Testemonies" asp-action="ValidateTestemony" asp-route-testemonyId="@item.TestemonyId">Validar Publicação</a>
            <a class="btn btn-default" asp-controller="Testemonies" asp-action="Delete" asp-route-id="@item.TestemonyId">Eliminar Testemunho</a>
        }
    }
}

