@model CIMOBProject.Models.Edital

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<div class="recent-news">
    <h1>@Html.DisplayFor(model => model.Title)</h1>
    @Html.DisplayFor(model => model.TextContent)
    <hr />
    <label>@Html.DisplayNameFor(model => model.OpenDate):&nbsp;</label>@Html.DisplayFor(model => model.OpenDate)
    <br />
    <label>@Html.DisplayNameFor(model => model.CloseDate):&nbsp;</label>@Html.DisplayFor(model => model.CloseDate)
    <br />
    <label>@Html.DisplayNameFor(model => model.Document):&nbsp;</label>@Html.DisplayFor(model => model.Document.FileUrl)
    <br />
    <label>Publicado por:&nbsp;</label>@Html.DisplayFor(model => model.Employee.UserFullname)
</div>
<hr />

@if (SignInManager.IsSignedIn(User) && User.IsInRole("Employee"))
{
    <div>
        <a class="btn btn-default" asp-action="Edit" asp-route-id="@Model.Id">Editar</a>
        <a class="btn btn-default" asp-controller="News" asp-action="Index">Voltar Atrás</a>
    </div>
}