@model IEnumerable<CIMOBProject.Models.Error>

@{
    ViewData["Title"] = "Erros";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Erros</h1>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.ErrorCode)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ErrorDescription)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ErrorCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ErrorDescription)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-default">Editar</a>
                <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-default">Detalhes</a>
                <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-default">Apagar</a>
            </td>
        </tr>
}
    </tbody>
</table>
<hr />
<a asp-action="Create" class="btn btn-default">Novo Erro</a>
