@model CIMOBProject.Models.Application

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Candidatura</h1>
<h3 class="description">Preencha corretamente os campos em baixo para realizar a sua candidatura ao programa Erasmus.</h3>
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="application-bilateral-info">
                @Html.Hidden("StudentId")
                @Html.Hidden("EmployeeId")
                @Html.Hidden("ApplicationStatId")
                <h4>Protocolos Bilaterais</h4>
                <div class="form-group">
                    <label asp-for="BilateralProtocol1Id" class="control-label"></label>  <div class="tooltip">(?)<span class="tooltiptext">@ViewData["BilateralTip"]</span></div>
                    <select asp-for="BilateralProtocol1Id" class="form-control" asp-items="ViewBag.BilateralProtocol1Id"></select>
                </div>
                <div class="form-group">
                    <label asp-for="BilateralProtocol2Id" class="control-label"></label>  <div class="tooltip">(?)<span class="tooltiptext">@ViewData["BilateralTip"]</span></div>
                    <select asp-for="BilateralProtocol2Id" class="form-control" asp-items="ViewBag.BilateralProtocol2Id"></select>
                </div>
                <div class="form-group">
                    <label asp-for="BilateralProtocol3Id" class="control-label"></label>  <div class="tooltip">(?)<span class="tooltiptext">@ViewData["BilateralTip"]</span></div>
                    <select asp-for="BilateralProtocol3Id" class="form-control" asp-items="ViewBag.BilateralProtocol3Id"></select>
                </div>
            </div>
            <hr />
            <div class="application-motivation-info">
                @Html.Hidden("CreationDate")
                <h4>Motivações</h4>
                <div class="form-group">
                    <label asp-for="Motivations" class="control-label"></label>  <div class="tooltip">(?)<span class="tooltiptext">@ViewData["MotivationTip"]</span></div>
                    <textarea asp-for="Motivations" class="form-control"></textarea>
                    <span asp-validation-for="Motivations" class="text-danger"></span>
                </div>
            </div>
            <hr />
            <div class="form-group">
                <input type="submit" value="Submeter" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

