@model CIMOBProject.Models.Application

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@{
    ViewData["Title"] = "Details";
}

<h1>Candidatura de @Html.DisplayFor(model => model.Student.UserFullname)</h1>
<div>
    <div class="application-student-details">
        <h4>Dados de Estudante</h4>
        <label>@Html.DisplayNameFor(model => model.Student.StudentNumber):&nbsp;</label>@Html.DisplayFor(model => model.Student.StudentNumber)
        <br />
        <label>@Html.DisplayNameFor(model => model.Student.CollegeSubject.SubjectName):&nbsp;</label>@Html.DisplayFor(model => model.Student.CollegeSubject.SubjectName)
    </div>  
    <br />
    <div class="application-grade-details">
        <h4>Avaliação de Candidatura</h4>
        <label>@Html.DisplayNameFor(model => model.ArithmeticMean):&nbsp;</label>@Html.DisplayFor(model => model.ArithmeticMean)
        <br />
        <label>@Html.DisplayNameFor(model => model.ECTS):&nbsp;</label>@Html.DisplayFor(model => model.ECTS)
        <br />
        <label>@Html.DisplayNameFor(model => model.Motivations):&nbsp;</label>
        <br />
        @Html.DisplayFor(model => model.Motivations)
        <br />
        <br />
        <label>@Html.DisplayNameFor(model => model.MotivationLetter):&nbsp;</label>@Html.DisplayFor(model => model.MotivationLetter)
        <br />
        <label>@Html.DisplayNameFor(model => model.Interview):&nbsp;</label>@Html.DisplayFor(model => model.Interview)
        <br />
        <label>@Html.DisplayNameFor(model => model.FinalGrade):&nbsp;</label>@Html.DisplayFor(model => model.FinalGrade)
        <br />
        <label>@Html.DisplayNameFor(model => model.ApplicationStat):&nbsp;</label>@Html.DisplayFor(model => model.ApplicationStat.Name)
        
    </div>
    <br />
    <div class="application-employee-details">
        <h4>Dados de Funcionário</h4>
        <label>@Html.DisplayNameFor(model => model.Employee):&nbsp;</label>@Html.DisplayFor(model => model.Employee.UserFullname)
    </div>
</div>
<br />
<div>
    <a class="btn btn-default" asp-action="Index" asp-controller="Documents" asp-route-applicationId="@Model.ApplicationId">Documentos</a>
    <a class="btn btn-default" asp-action="Edit" asp-route-id="@Model.ApplicationId">Editar</a>
    @if (SignInManager.IsSignedIn(User) && User.IsInRole("Employee"))
    {
        <a class="btn btn-default" asp-area="" asp-controller="Applications" asp-action="Index" asp-route-employeeId="@UserManager.GetUserId(User)">Voltar Atrás</a>
    }
    else
    {
        <a class="btn btn-default" asp-controller="Students" asp-action="Details" asp-route-id=@UserManager.GetUserId(User)>Voltar Atrás</a>
    }

</div>
