@model CIMOBProject.Models.Application
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@{
    ViewData["Title"] = "Edit";
}

<h2>Candidatura do aluno @Model.Student.UserFullname</h2>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @Html.Hidden("StudentId")
            @Html.Hidden("EmployeeId")
            @Html.Hidden("BilateralProtocol1Id")
            @Html.Hidden("BilateralProtocol2Id")
            @Html.Hidden("BilateralProtocol3Id")
            @Html.Hidden("CreationDate")
            <input type="hidden" asp-for="ApplicationId" />

            <div class="form-group">
                <label asp-for="ArithmeticMean" class="control-label"></label>
                <input asp-for="ArithmeticMean" class="form-control" />
                <span asp-validation-for="ArithmeticMean" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ECTS" class="control-label"></label>
                <input asp-for="ECTS" class="form-control" />
                <span asp-validation-for="ECTS" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MotivationLetter" class="control-label"></label>
                <input asp-for="MotivationLetter" class="form-control" />
                <span asp-validation-for="MotivationLetter" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Enterview" class="control-label"></label>
                <input asp-for="Enterview" class="form-control" />
                <span asp-validation-for="Enterview" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FinalGrade" class="control-label"></label>
                <input asp-for="FinalGrade" class="form-control" />
                <span asp-validation-for="FinalGrade" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ApplicationStatId" class="control-label"></label>
                <select asp-for="ApplicationStatId" class="form-control" asp-items="ViewBag.ApplicationStatId"></select>
                <span asp-validation-for="ApplicationStatId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
