@model IEnumerable<CIMOBProject.Models.Application>
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@{
    ViewData["Title"] = "Filter";
}

<h2>Index</h2>

<form asp-controller="Applications" asp-action="Filter" method="get">
    <select class="search-options" for="filterType" name="filterType">
        <option value="CurrentlySupervising">Atualmente a avaliar</option>
        <option value="NotSupervising">Sem avaliador</option>
    </select>

    <input class="search-box" hidden="hidden" type="text" name="employeeId" value="@UserManager.GetUserId(User)" />

    <input type="submit" class="btn btn-default" value="Filter">
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Student)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Employee)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ArithmeticMean)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ECTS)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MotivationLetter)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Enterview)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FinalGrade)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ApplicationStat)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Student.UserFullname)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Employee.UserFullname)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ArithmeticMean)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ECTS)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MotivationLetter)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Enterview)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FinalGrade)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ApplicationStat.Name)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.ApplicationId">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.ApplicationId">Details</a> |
                    @if (item.EmployeeId == null && User.IsInRole("Employee"))
                    {
                        <a asp-action="AssignEmployee" asp-route-employeeId="@UserManager.GetUserId(User)" asp-route-applicationId="@item.ApplicationId">Evaluat</a>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
