@model IEnumerable<CIMOBProject.Models.Application>
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@{
    ViewData["Title"] = "Filter";
}

<h1>Candidaturas</h1>
<form asp-controller="Applications" asp-action="Filter" method="get">
    <select class="search-options" for="filterType" name="filterType">
        <option value="CurrentlySupervising">Atualmente a avaliar</option>
        <option value="NotSupervising">Sem avaliador</option>
        <option value="NoFilter">Sem filtro</option>
    </select>

    <input class="search-box" hidden="hidden" type="text" name="employeeId" value="@UserManager.GetUserId(User)" />

    <input type="submit" class="btn btn-default" value="Filtrar">
    
</form>
<br />
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Student)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Employee)
            <th>
                @Html.DisplayNameFor(model => model.ApplicationStat)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Student.UserFullname)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Employee.UserFullname)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ApplicationStat.Name)
                </td>
                <td>
                    <a class="btn btn-default" asp-action="Edit" asp-route-id="@item.ApplicationId">Editar</a>
                    <a class="btn btn-default" asp-action="Details" asp-route-id="@item.ApplicationId">Detalhes</a>
                    @if (item.EmployeeId == null && User.IsInRole("Employee"))
                    {
                        <a class="btn btn-default" asp-action="AssignEmployee" asp-route-employeeId="@UserManager.GetUserId(User)" asp-route-applicationId="@item.ApplicationId">Evaluat</a>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
