@model CIMOBProject.Models.Document

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Apagar Documento</h1>

<h3 class="description">Tem a certeza que quer eliminar este documento?</h3>
<div>
    <h4>Document</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FileUrl)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FileUrl)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.UploadDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.UploadDate)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="DocumentId" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-action="Index" asp-route-applicationId="@Model.ApplicationId" class="btn btn-default">Back to List</a>
    </form>
</div>
