@model IEnumerable<CIMOBProject.Models.Document>
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager



@{
    ViewData["Title"] = "Documentos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Documentos de @ViewData["StudentName"]</h1>
@if (Model == null)
{
    <h3>Este estudante ainda não tem documentos</h3>
}
else
{

<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Description)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FileUrl)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.UploadDate)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model)
{
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                <a href="@Html.DisplayFor(modelItem => item.FileUrl)">@Html.DisplayFor(modelItem => item.FileUrl)</a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UploadDate)
            </td>
            <td>
                <a class="icon-hover" asp-action="Delete" asp-route-id="@item.DocumentId">
                    <img src="~/images/delete.png" />
                </a>
            </td>
        </tr>
}
    </tbody>
</table>
}
<hr />
@if (ViewData["EvaluationApp"].Equals("false")) {
    <a asp-action="Create" asp-controller="Documents" asp-route-applicationId="@ViewData["ApplicationId"]" class="btn btn-default">Novo documento</a>
}
<a href='javascript:history.go(-1)' class="btn btn-default">Voltar Atrás</a>
    




