@model IEnumerable<CIMOBProject.Models.Document>
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager


@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Documentos de @ViewBag.studentName</h1>

<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Description)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FileUrl)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.UploadDate)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FileUrl)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UploadDate)
            </td>
            <td>
                @if (SignInManager.IsSignedIn(User) && User.IsInRole("Student"))
                {
                    <a asp-action="Delete" asp-route-id="@item.DocumentId" class="btn btn-default">Delete</a>
                }
            </td>
        </tr>
}
    </tbody>
</table>
@if (SignInManager.IsSignedIn(User) && User.IsInRole("Student"))
{
    <a asp-action="Create" asp-controller="Documents" asp-route-studentId=@UserManager.GetUserId(User) class="btn btn-default">Novo documento</a>
}


