@model CIMOBProject.Models.Employee
@inject UserManager<ApplicationUser> UserManager
@{
    ViewData["Title"] = "Detalhes de Empregado";
}

<h1>Perfil de @Html.DisplayFor(model => model.UserFullname)</h1>

<div class="profile-info">
    <div class="profile-employee-info">
        <h4>Dados de funcionário</h4>
        <label>@Html.DisplayNameFor(model => model.EmployeeNumber): &nbsp;</label>@Html.DisplayFor(model => model.EmployeeNumber)        
    </div>
    <br />
    <div class="profile-personal-info">
        <h4>Dados Pessoais</h4>
        <label>@Html.DisplayNameFor(model => model.UserFullname):&nbsp;</label>@Html.DisplayFor(model => model.UserFullname)
        <br />
        <label>@Html.DisplayNameFor(model => model.BirthDate):&nbsp;</label>@Html.DisplayFor(model => model.BirthDate)
        <br />
        <label>@Html.DisplayNameFor(model => model.UserCc):&nbsp;</label>@Html.DisplayFor(model => model.UserCc)
    </div>
    <br />
    <div class="profile-contact-info">
        <h4>Contactos</h4>
        <label>@Html.DisplayNameFor(model => model.Email):&nbsp;</label>@Html.DisplayFor(model => model.Email)
        <br />
        <label>@Html.DisplayNameFor(model => model.PhoneNumber):&nbsp;</label>@Html.DisplayFor(model => model.PhoneNumber)
    </div>
    <br />
    <div class="profile-address-info">
        <h4>Dados de Morada</h4>
        <label>@Html.DisplayNameFor(model => model.UserAddress):&nbsp;</label>@Html.DisplayFor(model => model.UserAddress)
        <br />
        <label>@Html.DisplayNameFor(model => model.PostalCode):&nbsp;</label>@Html.DisplayFor(model => model.PostalCode)
    </div>
    <hr />
    <a asp-action="Edit" asp-controller="Employees" asp-route-id=@UserManager.GetUserId(User) class="btn btn-default">Editar Perfil</a>
    <a asp-action="ChangePassword" asp-controller="Manage" class="btn btn-default">Mudar Password</a>
    <a asp-action="Index" asp-controller="Quizzs" class="btn btn-default">Questionários</a>
</div>